<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.jucmnav.grl.GSDetector.editorContribution1"
            targetID="seg.jUCMNav.MainEditor">
         <menu
               id="seg.jUCMNav"
               label="jUCMNav">
            <separator
                  name="ext">
            </separator>
         </menu>
         <action
               class="org.eclipse.jucmnav.grl.GSDetector.GRLBadSmellsDetectorEngine"
               icon="icons/detection_icon.bmp"
               id="org.eclipse.jucmnav.grl.GSDetector.action1"
               label="GRL Bad Smells Detector"
               menubarPath="seg.jUCMNav/ext"
               style="push"
               toolbarPath="jUCMNav">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.jucmnav.grl.GSDetector.objectContribution1"
            nameFilter="*.jucm"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.jucmnav.grl.GSDetector.GRLBadSmellsDetectorEngine"
               icon="icons/detection_icon.bmp"
               id="org.eclipse.jucmnav.grl.GSDetector.action1"
               label="GRL Bad Smells Detector"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="seg.jUCMNav.views.preferences.GeneralPreferencePage"
            class="org.eclipse.jucmnav.grl.GSDetector.GRLBadSmellDetectionPreferences"
            id="org.eclipse.jucmnav.grl.GSDetector.page1"
            name="GRL Bad Smells Detection Preferences">
      </page>
   </extension>
   <extension
         id="org.eclipse.jucmnav.grl.GSDetector.GRLBadSmellMarker"
         name="GRLBadSmellsMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="sourceType">
      </attribute>
      <attribute
            name="badSmell">
      </attribute>
      <attribute
            name="sourceName">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.jucmnav.grl.GSDetector.GRLMarkerResolution"
            markerType="org.eclipse.jucmnav.grl.GSDetector.GRLBadSmellMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="GRLMarkerSupport"
         name="GRLMarkerSupport"
         point="org.eclipse.ui.ide.markerSupport">
      <problemFilter
            enabled="true"
            id="org.eclipse.jucmnav.grl.GSDetector.problemFilter1"
            name="org.eclipse.jucmnav.grl.GSDetector.problemFilter1"
            scope="ON_SELECTED_ONLY"
            severity="WARNING">
      </problemFilter>
      <markerTypeCategory
            name="name">
         <markerTypeReference
               id="org.eclipse.jucmnav.grl.GSDetector.GRLBadSmellMarker">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>

</plugin>
